# پوشه‌های سیستم‌عامل
.DS_Store
Thumbs.db

# پوشه‌های اندروید استودیو (نیازی به نسخه‌بندی ندارند)
.idea/
*.iml

# پوشه‌های بیلد
.gradle/
build/
app/build/
!gradle-wrapper.jar

# وابستگی‌های محلی (تنظیمات مربوط به سیستم شما)
local.properties

# فایل‌های موقتی
*.log
*.tmp
*.bak
*.swp

# فایل‌های مربوط به Docker (اختیاری)
Dockerfile
*.env
